*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.john{
    font-size: 200px;
}

.beat_john{
    font-size: 40px;
    margin-top: 10px;
    margin-bottom: 20px;
    font-weight: 600;
}

.johns_move {
    font-size: 40px;
}

.his_move{
    font-size: 60px;
}

.your_move{
    margin-top: 20px;
    font-size: 50px;
}

.move{
    font-size: 60px;
}

.moves{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.move_button{
    height: 80px;
    width: 120px;
    background-color: rgb(0, 132, 255);
    font-size: 30px;
    border-radius: 20px;
    cursor: pointer;
    border: solid 1px black;
}

.result{
    font-size: 100px;
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

